@model WebApplication1.Models.Clinic

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clinic</h4>
    <hr />
    <dl class="row">
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.ClinicName)
        </dt>
        <dd class="col-md-8">
            @Html.DisplayFor(model => model.ClinicName)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.ClinicLocation)
        </dt>
        <dd class="col-md-8">
            @Html.DisplayFor(model => model.ClinicLocation)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-md-8">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClinicID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
