@model IEnumerable<WebApplication1.Models.Clinic>

@{
    ViewData["Title"] = "Index";
}

<h1>Clinics</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                 
            </th>
            <th>
               Name
            </th>
            <th>
               Location
            </th>
            <th>
              Is Active Clinic? 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClinicID" class="btn btn-primary">Edit</a>  
                    <a asp-action="Details" asp-route-id="@item.ClinicID" class="btn btn-primary">Details</a>  
                    <a asp-action="Delete" asp-route-id="@item.ClinicID" class="btn btn-primary">Delete</a>
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.ClinicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
 
        </tr>
}
    </tbody>
</table>
