@model WebApplication1.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-md-6">
            Doctor Occupation
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.DoctorType)
        </dd>
        <dt class = "col-md-6">
            Doctor Name
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        <dt class = "col-md-6">
            Institution
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.DoctorInstitution)
        </dd>
        <dt class = "col-md-6">
           Contact Number
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.DoctorContactNo)
        </dd>
        <dt class = "col-md-6">
           Email Address
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.DoctorEmailAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DoctorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
