@model WebApplication1.Models.ClinicalRecord

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this Clinical Record?</h3>
<div>
    <h4>ClinicalRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-md-6">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class = "col-md-6">
            @Html.DisplayNameFor(model => model.Disorder)
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.Disorder)
        </dd>
        <dt class = "col-md-6">
            @Html.DisplayNameFor(model => model.ClinicalContactCommenced)
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.ClinicalContactCommenced)
        </dd>
        <dt class = "col-md-6">
            @Html.DisplayNameFor(model => model.ClinicalContactTerminated)
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.ClinicalContactTerminated)
        </dd>
        <dt class = "col-md-6">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-md-6">
            @Html.DisplayNameFor(model => model.RelevantInformation)
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.RelevantInformation)
        </dd>
        <dt class = "col-md-6">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-md-6">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-md-6">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-md-6">
            @Html.DisplayNameFor(model => model.TutorEmailAddress)
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.TutorEmailAddress)
        </dd>
        <dt class = "col-md-6">
            @Html.DisplayNameFor(model => model.Clinician)
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.Clinician)
        </dd>
        <dt class = "col-md-6">
            @Html.DisplayNameFor(model => model.AssessmentFindings)
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.AssessmentFindings)
        </dd>
        <dt class = "col-md-6">
            @Html.DisplayNameFor(model => model.Referral)
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.Referral)
        </dd>
        <dt class = "col-md-6">
            @Html.DisplayNameFor(model => model.History)
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.History)
        </dd>
        <dt class = "col-md-6">
            @Html.DisplayNameFor(model => model.Clinic)
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.Clinic.ClinicID)
        </dd>
        <dt class = "col-md-6">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-md-6">
            @Html.DisplayFor(model => model.Patient.PatientID)
        </dd>
        <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class="col-md-6">
            @Html.DisplayFor(model => model.Doctor.DoctorID)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ClinicalRecordID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
