@model WebApplication1.Models.ClinicalRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClinicalRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
          File Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class = "col-sm-2">
           Disorder
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disorder)
        </dd>
        <dt class = "col-sm-2">
           Contact Commencement Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClinicalContactCommenced)
        </dd>
        <dt class = "col-sm-2">
            Contact Terminated Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClinicalContactTerminated)
        </dd>
        <dt class = "col-sm-2">
           Record Created Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
          Relevant Information 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelevantInformation)
        </dd>
        <dt class = "col-sm-2">
         Created by 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
           Updated By
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
           Updated Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-sm-2">
           Tutor Email Address
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TutorEmailAddress)
        </dd>
@*         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clinician)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clinician)
        </dd> *@
        <dt class = "col-sm-2">
  Assessment Findings
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentFindings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.History)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.History)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clinic.ClinicID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.PatientID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.DoctorID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.DoctorID)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClinicalRecordID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
